@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Poppins", serif;
}

.skewbox {
  background-image: radial-gradient(#4242e33a 1px, transparent 1px),
    radial-gradient(#4242e34a 1px, transparent 1px);
  background-size: 21px 21px;
  background-position: 0 0, 10.5px 10.5px;
  background-color: rgba(71, 212, 255, 0);
}
